Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  misc-const-correctness,
  readability-identifier-naming
CheckOptions:
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: lower_case
